version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: vitalsync-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: vitalsync_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: